/* @group Layout
-------------------------------------------------------------- */

body { 
	background: #e2e8ec url(../images/bluenoise.jpg);
}
.wrap { 
	background: #fff; 
	margin: auto; 
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	box-shadow: 0 0 7px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	position: relative;
 }
.header {
	overflow: hidden;
	position: fixed;
	left: 50%;
	z-index: 100;
	background: white;
	background: rgba(255,255,255,.95);
	top: 0;
}
.wrap {
	width: 896px;
	padding: 36px 48px;
}
.header {
	margin-left: -496px;
	padding-bottom: 0;
	padding-top: 20px;
}
.site-head {
	float: left;
	text-align: center;
}
.site-head .site-logo {
	margin-bottom: 0;
	line-height: 1;
	position: relative;
}
.site-head .site-logo a {
	color: #38b3e1;
}
.site-head .site-logo a:hover {
	color: #000;
}
.site-head .site-logo[data-text]:after {
	content: attr(data-text);
	z-index: 10;
	color: transparent;
	position: absolute;
	top: 0;
	left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0))); /* Saf4+, Chrome */
    pointer-events: none;
 }
.header .site-description {
	color: #8c9ca2;
	margin: 0;
	line-height: 1;
}
.nav-main {
	float: right;
	text-align: right;
	margin-top: -20px;
	width: 60%;
	height: 100px;
	font-size: 18px;
}
.nav-main ul {
	margin: 65px 0 0;
	overflow: hidden;
}
.nav-main li {
	display: inline;
	margin-left: 30px;
}
.nav-main li a {
	color: #8c9ca2;
	border: none;
	font-weight: bold;
}
.nav-main li a:hover {
	color: #38b3e1;
}
.nav-main li a.current {
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	transition: color .3s ease-in;
	color: #38b3e1;
}
.portfolio {
	padding: 0;
	width: 992px;
	margin-top: 130px;
}
.hero {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 992px;
}
.project {
	margin: 0;
	padding: 0;
	position: relative;
}
.project img {
	width: 100%;
	display: block;
}
.project-description {
	padding: 36px 48px;
	position: relative;
}
.project-description h3 {
	font-size: 32px;
	margin-bottom: .5em;
}
.project-intro {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 0;
}
.project-description a:after {
	content: " >";
	font-weight: bold;
}

#services a {
	color: inherit;
	border-bottom: 1px dotted #ccc;
}
#services a:hover {
	border-bottom: none;
	color: #38b3e1;
}
#services h3 {
	padding-left: 50px;
	line-height: 36px;
	background-repeat: no-repeat;
	background-position: 0 -1px;
}
#services li:before { content: ""; width: 10px; height: 3px; display: block; position: absolute; left: -20px; top: 10px; background: #CACDCE; }

h3#webdesign {
	background-image: url(../images/jbm_ico_design.png);
}
h3#webdev {
	background-image: url(../images/jbm_ico_develop.png);
}
h3#wordpress {
	background-image: url(../images/jbm_ico_wp.png);
}
.catcher {
	font-size: 36px;
	line-height: 1.3;
	color: #353b3d;
	text-shadow: 0 1px 1px white;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight: bold;
}
.catcher p {
	margin: 0;
} 
.catcher a:hover {
	color: black;
	border: none;
}
#contact {
	height: 980px;
	position: relative;
}
#contact .wrap {
	background: rgba(255,255,255,.85);
	z-index: 1;
	position: relative;
	padding-bottom: 0;
}
#contact #map {
	height: 100%;
	position: absolute !important;
	width: 100%;
	z-index: 0;
	opacity: .7;
	-webkit-transition: opacity .2s ease-in;
	-moz-transition: opacity .2s ease-in;
	transition: opacity .2s ease-in;
	top: 30px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#contact #map:hover {
	opacity: 1;
}
#contact textarea {
	width: 480px;
}
.web-profile {
	margin: 1.5em 0;
	padding: 0;
}
.web-profile li {
	display: inline-block;
}
.web-profile a {
	height: 36px;
	width: 36px;
	text-indent: -9999px;
	display: block;
	margin-right: 25px;
	background-repeat: no-repeat;
	opacity: .3;
	background-position: center center;
	-webkit-transition: opacity .16s ease-in;
	-moz-transition: opacity .16s ease-in;
	transition: opacity .16s ease-in;
}
.web-profile a:hover {
	opacity: .8;
}
.web-profile a:active {
	opacity: 1;
}
.web-profile .github a {
	background-image: url(../images/jbm_ico_github.png);
	width: 80px;
}
.web-profile .flickr a {
	background-image: url(../images/jbm_ico_flickr.png);
	width: 80px;
}
.web-profile .soundcloud a {
	background-image: url(../images/jbm_ico_soundcloud.png);
	width: 60px;
}
.web-profile .dribbble a {
	background-image: url(../images/jbm_ico_dribbble.png);
	width: 40px;
}
.web-profile .tumblr a {
	background-image: url(../images/jbm_ico_tumblr.png);
}
.footnote {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #8c9ca2;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #eee;
	list-style: none;
}
.footnote li {
	display: inline;
}
.footnote li:before {
	padding: 0 10px;
	color: #ccc;
	content: "\2022"; /*Hexadecimal for Unicode down arrow (&dArr;)*/
	display: inline;
}
.footnote li:first-child:before {
	content: "";
}
.footnote a {
	color: #8c9ca2;
	font-weight: bold;
}
.footnote a:hover {
	color: #353b3d;
}


/* @end */

/* @group Slider */

.slider a:active {outline: none;}
.slides,
.flex-control-nav {margin: 0; padding: 0; list-style: none;} 

.slider {width: 100%; margin: 0; padding: 0; cursor: pointer;}
.no-js .slider { cursor: auto; }
.slider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.no-js .slider .slides > li {display: inline;} 
.slider .slides img {max-width: 100%; display: block;}
.flex-control-nav {
	font-size: 0;
	line-height: 0;
	margin-left: 8px;
}
.flex-control-nav li {
	width: 210px;
	height: 133px;
	overflow: hidden;
	float: left;
	background: white;
	margin: 36px 25px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,.02);
	cursor: pointer;
}
.flex-control-nav li:active {
	position: relative;
	top: 1px;
}
.flex-control-nav a {
	display: block;
}
.flex-control-nav img,
.flex-control-nav .initial .active img {
	width: 540px;
	opacity: .4;
	position: relative;
	-webkit-transform: scale(1.4) rotate(15deg);
	
	-webkit-transition: -webkit-transform .4s ease-out, opacity 0.3s ease-out;  /* Saf3.2+, Chrome */
	    -moz-transition: opacity .6s ease-out;  /* FF4+ */
	     -ms-transition: opacity 6s ease-out;  /* IE10? */
	      -o-transition: opacity .6s ease-out;  /* Opera 10.5+ */
	         transition: transform .4s ease-out, opacity 0.3s ease-out; 
}
.flex-control-nav .active img {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0);
  -webkit-transition: -webkit-transform 6s ease, opacity 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: opacity 6s ease;  /* FF4+ */
      -ms-transition: opacity 6s ease;  /* IE10? */
       -o-transition: opacity 6s ease;  /* Opera 10.5+ */
          transition: transform 6s ease, opacity 0.3s ease-out; 
}
.flex-control-nav .thumb-benjamin-messingschlager-mediendesign img {
	width: 657px;
	left: -6px;
	top: 0;
}
.flex-control-nav .thumb-malte-pietschmann-portfolio img {
	width: 690px;
	left: -10px;
	top: -5px;
}
.flex-control-nav .thumb-illitheas-trance-progressive img {
	top: -50px;
	width: 695px;
}
.flex-control-nav .thumb-cintia-barosso-studio img {
	width: 330px;
}
.flex-control-nav img:hover,
.flex-control-nav li.active img {
	opacity: 1;
}

/* @end */