/* =============================================================================
   Lists
   ========================================================================== */

dt {
	font-weight: bold;
}
dd {
    margin: .5em .5em 1em;
    padding-left: 1em;
}
li {
	margin-top: .5em;
	margin-bottom: .5em;
}