nav[role=navigation],
footer[role=contentinfo] {
	text-align: center;
	font-family: @sansFontFamily;
	
	ul {
		.nav;
	}
	li, a {
		.inline-block();
	}
	a {
		padding: 1em;
	}
}
nav[role=navigation] {
	margin-bottom: 3em;
}
footer[role=contentinfo] {
	border-top: 1px solid #eee;
	margin-top: 3em;
}
