/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    min-width: 100%;
    max-width: 40em;
}
td, th {
	padding: .5em 1em;
	border-top: 1px solid @light;
	border-bottom: 1px solid @light;
}
th {
	thead &, & {
		border-bottom: 2px solid @light;
		border-top: 1px solid @light;
	}
	
	tfoot & {
		border-bottom: 1px solid @light;
		border-top: 2px solid @light;
	}
}
tr:nth-child(even), th {
	background: lighten(@light, 5%);
}
caption {
	.heading;
	.font-size(20);
	margin-bottom: 1em;
	margin-top: 1em;
}